#container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background: url("./../../../assets/images/fondo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  width: 100%;
  background-attachment: fixed;
  background-size: cover;
  //  background: linear-gradient(to right, #8e9eab, #eef2f3);
}

.box {
  background: url("./../../../assets/images/background0.jpg");
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 102vh;
  color: #eef2f3;
  background-attachment: fixed;
  background-size: cover;
}

.weather {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 10px;
  margin-bottom: 2em;
}

#buscador {
  position: absolute;
  width: 40vw;
  margin: auto;
  z-index: 8;
}

.search {
  z-index: 18;
}

.city {
  width: 98%;
  height: 40px;
  background-color: #414142cf;
  padding-left: 10px;
  display: flex;
   margin: auto;
  font-weight: 600;
  flex-direction: column;
}

.boxCity {
  display: flex;
  align-items: center;
  align-items: center;
  align-content: center;
  margin: auto;
  margin-top: -10px;
}

a{
text-decoration: none !important;
color: #eef2f3;

}

span {
  font-size: 10px;
}


#list {
  position: absolute;
  width: 40vw;
  margin: auto;
  z-index: 13;
  margin-top: 5.7em;
  padding: 2px;
}

.listaCiudades {
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 5px;
  margin-right: 5px;
}


@media only screen and (min-width: 600px) and (max-width: 900px) {
  #buscador {
    position: absolute;
    z-index: 11;
    width: 70vw;
    margin: auto;
  }

  #list {
    width: 70vw;
  }

  .weather {
    width: 80vw;
  }
}

@media only screen and (min-width: 240px) and (max-width: 600px) {
  #buscador {
    position: absolute;
    width: 90vw;
    z-index: 11;
    margin: auto;
  }

  #list {
    width: 90vw;
  }

  .weather {
    width: 90vw;
  }
}




.kenburns-top {
  -webkit-animation: kenburns-top 4s ease-in-out forwards;
  animation: kenburns-top 4s ease-in-out forwards;
}

/**
 * ----------------------------------------
 * animation kenburns-top
 * ----------------------------------------
 */
@-webkit-keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }

  100% {
    -webkit-transform: scale(1) translateY(-2vh);
    transform: scale(1) translateY(-2vh);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}

@keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }

  100% {
    -webkit-transform: scale(1) translateY(-2vh);
    transform: scale(1) translateY(-2vh);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}

.kenburns-bottom {
  -webkit-animation: kenburns-bottom 4s ease-in-out forwards;
  animation: kenburns-bottom 4s ease-in-out forwards;
}

/**
 * ----------------------------------------
 * animation kenburns-top
 * ----------------------------------------
 */
@-webkit-keyframes kenburns-bottom {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }

  100% {
    -webkit-transform: scale(1) translateY(2vh);
    transform: scale(1) translateY(2vh);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}

@keyframes kenburns-bottom {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }

  100% {
    -webkit-transform: scale(1) translateY(2vh);
    transform: scale(1) translateY(2vh);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}