<div class="card col-md-8 list-group" id="container">
    <div class="card__image cabecera">
        <div class="card__city titulo"> Ciudades del Mundo </div>
    </div>
    <div class="box list-group-item" *ngFor="let weather of cities">
        <div class="card__city city" style="width: 30%;"> {{weather.name}} , {{weather.sys.country}} </div>
        <div class="temp">{{weather.main.temp | number:'1.0-0'}}&#8451;</div>
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/{{weather.weather[0].icon}}.svg" alt="">
        <div class="card__stat--stat info"> {{weather.main.humidity}}<sup>%</sup></div>
        <div class="card__stat--stat info"> {{weather.wind.speed}} <sup>m/s</sup></div>
    </div>
</div>