
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
*{
    font-family: 'Source Sans Pro', sans-serif;
}

.search {
  display: flex;
  flex-direction: row;
  margin-top: 1.5rem;
  width: 100%;
  
}

input {
  font-size: 1.3rem;
  padding: 0.5rem;
  width: 100%;
  border-radius: 10px;
}

input::placeholder {
  display: flex;
  text-align: center;
  font-size: 1.2em;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



@media only screen and (min-width: 240px) and (max-width: 500px) {
  input {
    font-size: 1.3rem;
    padding: 0.5rem;
    width: 100%;
  }
  
}

