<div class="card col-md-6" id="container">
  <div class="card__image">
    <div class="card__city"> {{city}} , {{country}} </div>
  </div>
  <div class="card__box">
    <div class="card__temp">
      <img loading="lazy" src="./assets/images/{{weather.weather[0].icon}}.png" alt="">
      <p>{{weather.main.temp | number:'1.0-0'}}&#8451;</p>
    </div>
    <div class="card__stats">
      <div class="card__stat width-33">
        <span>Presión</span>
        <div class="card__stat--stat info">{{weather.main.pressure}} <sup>hPa</sup></div>
      </div>
      <div class="card__stat width-33">
        <span>Humedad</span>
        <div class="card__stat--stat info"> {{weather.main.humidity}}<sup>%</sup></div>
      </div>
      <div class="card__stat width-33 no-border">
        <span>Vientos</span>
        <div class="card__stat--stat info"> {{weather.wind.speed}} <sup>m/s</sup></div>
      </div>
    </div>
  </div>

</div>